body {
  margin: 0;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(6, 155, 241, 0.514);
  color: rgba(236, 144, 6, 0.527);
}
.users{
  background-color: rgba(10, 125, 233, 0.918);
  color: black;
  font-size: 20px;
}
h1{
  color: aliceblue;
  font-size: 30px;
}
